.table {
    margin: 20px 0;

    .btn-wrap {
        background-color: rgb(255, 255, 255);
        border: 1px solid #dddddd;
    }

    .btn-right {
        // display: inline-block;
        content: "";
        width: 6px;
        height: 10px;
        background: url(../../public/img/sp_icon_pc.png) no-repeat;
        background-position: -270px -100px;
    }

}
table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size: 13px;
}
table td, table th {
    border: 1px solid #ddd;
    font-weight: 400;
    padding: 8px;
}
table tr:nth-child(even){
    // background-color: #f2f2f2;
}
table tr:hover {
    background-color: #ddd;
}
table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #f8f9fd;
    color: #555;
}

