
.seller-content-product {

    .panel-seller {
        position: relative;
        margin-bottom: 10px;
        background-color: #fff;
    }

    .panel-body {
        padding: 20px 35px;
    }

    .product-list {
        margin: 10px 0 0;
    }

    
}

