.buttonArrow {
    position: absolute;
    top: 25px;
    right: -27px;
    width: 9px;
    height: 5px;
    background: url(../../public/img/sp_icon_pc.png);
    content: "";
}

.Up {
    background-position: -200px -100px;
}

.Down {
    background-position: -210px -100px;
}

.list:after {
    display: inline-block;
    content: "";
    vertical-align: middle;
}

.icon-npay:after {
    width: 38px;
    height: 15px;
    margin: -3px 0 1px;
    background: url(../../public/img/sp_icon_pc.png);
    background-position: -360px -230px;
}

.menu-list .talktalk-icon:after {
    content: "\EAB2";
    font-size: 14px;
    margin: 2px 0px 0px;
}

.label-new:after {
    content: "N";
    font-size: 10px;
    padding: 1px 2px;
    vertical-align: 1px;
    display: inline;
    background-color: #ff545c;
}

.list-10 i:after {
    position: relative;
    content: '';
    top: -3px;
    display: inline-block;
    width: 20px;
    height: 10px;
    margin-left: 2px;
    margin-right: 4px;
    background: url(../../public/img/sp_common.png);
    background-position: -260px -110px;
}