.carousel {
    /* width: 463px; */
}

.carousel_img {
    display: block;
    margin: auto;
    height : 30px;
}


.carousel-control-prev{
    padding: 10px !important;
}

.carousel-control-prev-icon {

    position: relative !important;
    width: 23px !important;
    top: -3px !important;
    left: -5px !important;
    
}

.carousel-control-next-icon {
    position: relative !important;
    width: 23px !important;
    top: -3px !important;
    right: -5px !important;
}

.carousel-caption {
    text-align: center;
}

.carousel-item {
    padding-bottom: 15px;
}

.carousel-img {
}

/* 퀵슬롯 */
.carousel-indicators{
    position: relative;
    bottom: -10px !important;
    margin: 0px!important;
}

.carousel-indicators button {
    width: 5px !important;
    height: 5px !important;
    border-radius: 50% !important;
    background-color: #dddfe1 !important;
    margin: 2px !important;
}

.carousel-indicators .active {
    background-color: #00C73C !important;
}