.Swiper_Intro {
    /* width: 463px; */
    padding-top: 180px;
    padding-bottom: 60px;

    .carousel_img {
        max-width: 100%;
        height: auto;
    }
    
    .carousel-item {
        padding: 0px;
    }
    
    .carousel-control-prev{
        padding: 10px !important;
    }
    
    .carousel-control-prev-icon {
        position: relative !important;
        width: 23px !important;
        top: -3px !important;
        left: -5px !important;
        
    }
    
    .carousel-control-next-icon {
        position: relative !important;
        width: 23px !important;
        top: -3px !important;
        right: -5px !important;
    }
    
    .carousel-caption {
        text-align: center;
    }
    
    
    /* 퀵슬롯 */
    .carousel-indicators{
        top: 25px;
        height: 100px;
        display: flex;
        align-items: center;

        button {
            display: inline-block;
            background-color: #f6f7f9;
            border: 1px solid #f6f7f9;
            border-radius: 50px;
            margin: 0 30px !important;
            width: 70px !important;
            height: 70px !important;
        }
        
        // +10 +15
        button:nth-child(1) {
            content: "";
            background: url(../../../public/img/home/sp_about_pc_sizeset.png) no-repeat;
            background-position: 15px -79px;
            &.active {
                background-position: 15px -4px;
            }
        }
        button:nth-child(2) {
            content: "";
            background: url(../../../public/img/home/sp_about_pc_sizeset.png) no-repeat;
            background-position: -45px -82px;
            &.active {
                background-position: -45px -7px;
            }
        }
        button:nth-child(3) {
            content: "";
            background: url(../../../public/img/home/sp_about_pc_sizeset.png) no-repeat;
            background-position: -165px -80px;
            &.active {
                background-position: -165px -5px;
            }
        }
        button:nth-child(4) {
            content: "";
            background: url(../../../public/img/home/sp_about_pc_sizeset.png) no-repeat;
            background-position: -228px -80px;
            &.active {
                background-position: -228px -5px;
            }
        }
        button:nth-child(5) {
            content: "";
            background: url(../../../public/img/home/sp_about_pc_sizeset.png) no-repeat;
            background-position: -285px -80px;
            &.active {
                background-position: -285px -5px;
            }
        }
        button:nth-child(6) {
            content: "";
            background: url(../../../public/img/home/sp_about_pc_sizeset.png) no-repeat;
            background-position: -346px -80px;
            &.active {
                background-position: -346px -5px;
            }
        }
        button:nth-child(7) {
            content: "";
            background: url(../../../public/img/home/sp_about_pc_sizeset.png) no-repeat;
            background-position: -405px -80px;
            &.active {
                background-position: -405px -5px;
            }
        }
        button:nth-child(8) {
            content: "";
            background: url(../../../public/img/home/sp_about_pc_sizeset.png) no-repeat;
            background-position: -465px -80px;
            &.active {
                background-position: -465px -5px;
            }
        }
        button:hover {
        }

        .active {
            background-color: #00C73C !important;

        }
    }
}

